<div class="header">
  <div class="title">
    <h2>SubPly</h2>
    <div class="title__btn">
      <button class="title__btn--login">login</button>
      <button class="title__btn--logout">logout</button>  
    </div>
  </div>
  <nav class="navbar">
    <li><a routerLink="/">home</a> <br /></li>
    <li><a routerLink="translate">translate</a><br /></li>
    <li><a routerLink="mypage">mypage</a> <br /></li>
    <li><a routerLink="rank">rank</a></li>
    <li><a routerLink="error">error</a> <br /></li>
  </nav>
</div>
