.header {
  width: 100%;
}

.title{
    display: flex;
    align-items: center;
}

.title__btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.title__btn--login{
    height: 20px;
}

.title__btn--logout{
    height: 20px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    border : 1px solid black;
}

.navbar li {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.navbar a:hover {
  color: orange;
  cursor: pointer;
}
