<div class="header">
  <div class="title">
    <a routerLink="/">SubPly</a>
    <div class="title__btn">
      <button
        class="title__btn--login"
        [ngClass]="{ invisible: isLogined }"
        (click)="login()"
      >
        log in
      </button>
      <button
        class="title__btn--join"
        [ngClass]="{ invisible: isLogined }"
        (click)="join()"
      >
        join
      </button>
      <button
        class="title__btn--logout"
        [ngClass]="{ invisible: !isLogined }"
        (click)="logout()"
      >
        logout
      </button>
    </div>
  </div>
  <nav class="navbar">
    <li><a routerLink="/">home</a> <br /></li>
    <li><a routerLink="translate">translate</a><br /></li>
    <li><a routerLink="mypage">mypage</a> <br /></li>
    <li><a routerLink="rank">rank</a></li>
    <li><a routerLink="error">error</a> <br /></li>
  </nav>
</div>
