<div *ngIf="loadingState === true; then success; else ready"></div>

<ng-template #ready>
  자막 블록을 선택해 주세요.
</ng-template>

<ng-template #success>
  <button (click)="changeSort('dateAsc')">최근 순</button>
  <button (click)="changeSort('voteDesc')">좋아요 높은 순</button>
  <button (click)="changeSort('voteAsc')">좋아요 낮은 순</button>

  <reply>
    <div>
      <input type="text" id="sentence" /> &nbsp;
      <span><button (click)="createReply()">✔️</button> </span>
      <br />

      <replymeta>
        닉네임:
      </replymeta>
    </div>
  </reply>

  <translationBox *ngFor="let script of translations.scripts; let i = index">
    <tran *ngIf="i == scriptIndex">
      <div *ngFor="let subply of script.subplies">
        [번역] <br />
        <tran>{{ subply.translated }}</tran> <br />
        <br />
        <replymeta>
          닉네임: {{ subply.userId }} 👍: {{ subply.votes.length }}
        </replymeta>
      </div>
    </tran>
  </translationBox>
</ng-template>
