.userInfo {
  /* display: flex; */
  padding: 20px;
  justify-content: space-around;
  margin-top: 10px;

  border: 1px solid black;
}

#imageDiv {
  /* display: inline; */
  margin: 10px;
  width: 150px;
  height: 150px;
  border: 1px solid burlywood;
}

.user ul {
  list-style: none;
  margin-left: 500px;
}

.infoDiv li {
  /* display: inline; */
  padding: 5px 10px;
  /* text-decoration: none; */
  list-style-type: none;
}
