<div class="userInfo">
  <div id="imageDiv">
    프로필 이미지
  </div>

  <div class="infoDiv">
    <!-- <ul> -->
      <li>닉네임: {{ user.Nickname }}</li>
      <li>아이디: {{ user.UserId }}</li>
      <li>이름: {{ user.Name }}</li>
      <li>비밀번호: {{ user.Password }}</li>
      <li>이미지: {{ user.ProfileImage }}</li>
      <li>기여시간: {{ user.ContributedTime }}</li>
      <li>영상목록: {{ user.Videos }}</li>
      <li>번역목록: {{ user.Translations }}</li>
      <li>좋아요목록: {{ user.Votes }}</li>

    <!-- </ul> -->
   
  </div>

  
</div>
