<h2>JOIN</h2>
<form #joinForm = "ngForm" (ngSubmit)="onSubmit(joinForm)" novalidate>
    <div>
        <label for="profileImage">Profile Image</label>
        <img src="https://loremflickr.com/320/240" />
    </div>
    <div>
        <label for="id">ID</label>
        <input 
            name="id"
            type="text" 
            placeholder="id" 
            required 
            pattern="[-_!A-za-z0-9]{4,10}$"
            ngModel 
            #id="ngModel">
    </div>
    <div>
        <label for="password">PassWord</label>
        <input 
            name="password" 
            type="password" 
            placeholder="password" 
            required 
            ngModel 
            pattern="[-_!A-za-z0-9]{4,10}$"
            #password="ngModel">
    </div>
    <div>
        <label for="password_check">Check PassWord</label>
        <input 
            name="password_check" 
            type="password" 
            placeholder="type your password again" 
            required 
            ngModel 
            pattern="[-_!A-za-z0-9]{4,10}$"
            #password_check="ngModel">
    </div>
    <div>
        <label for="name">Name</label>
        <input 
            name="name" 
            type="text" 
            placeholder="name" 
            required 
            ngModel 
            #name="ngModel">
    </div>
    <div>
        <label for="nickname">Nickname</label>
        <input 
            name="nickname" 
            type="text" 
            placeholder="Nickname" 
            required 
            ngModel 
            #nickname="ngModel">
    </div>

    <button [disabled]="joinForm.invalid">JOIN</button>    
</form>