<h2>JOIN</h2>
<form [formGroup] = "joinForm" (ngSubmit)="onSubmit()" novalidate>
    <div>
        <label for="profileImage">Profile Image</label>
        <img src="https://loremflickr.com/320/240" />
    </div>
    <div>
        <label for="id">ID</label>
        <input 
            type="text"
            formControlName="id">
        <input 
            value="Check Duplicate"
            type="button" 
            formControlName="checkId" 
            (click)="checkDuplicateID()"
        >
    </div>
    <p *ngIf="joinFormControl.checkId.untouched || joinFormControl.checkId.invalid">check ID please!</p>

    <div>
        <label for="password">PassWord</label>
        <input 
            type="password"
            formControlName="password">
    </div>
    <div>
        <label for="password_check">Check PassWord</label>
        <input 
            type="password" 
            formControlName="password_check">
    </div>
 
    <div>
        <label for="name">Name</label>
        <input 
            type="text"
            formControlName="name">
    </div>
    <div>
        <label for="nickname">Nickname</label>
        <input 
            type="text"
            formControlName="nickname">
    </div>

    <button [disabled]="joinForm.invalid || isDuplicated">JOIN</button>    
</form>